.project-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin-top: 40px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.project-image {
    height: 300px;
    width: 300px;
    transition: 0.4s;
    border-radius: 10px;
}

.light.project-name {
    position: absolute;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: 0.4s;
    font-size: 32px;
}

.dark.project-name {
    position: absolute;
    color: white;
    opacity: 0;
    transition: 0.4s;
    font-size: 32px;
}

.light.opaque {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgba(226, 226, 226, 0.7);
    padding: 10px;
    opacity: 0;
    transition:0.4s;
    border-radius: 10px;
}

.dark.opaque {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0;
    transition:0.4s;
    border-radius: 10px;
}

.container:hover .opaque {
    opacity: 0.4;
}

.container:hover .project-name {
    opacity: 1;
}

.container:hover .project-image {
    opacity: 0.4;
}